:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #eee1c7;
  text-decoration: inherit;
}
a:hover {
  color: #eee1c7;
} */

body {
  display: flex;
  place-items: center;
  /*min-width: 100vw;
  min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

}
button:hover {
  border-color: #66635cbf;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  position: fixed; /* 或者使用 'absolute'，取决于其他布局需求 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* max-width: 1280px; */
  /*margin: 0 auto;*/
  /*text-align: center;*/
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #4C5874;
    background-color: #ffffff;
  }
  a:hover {
    color: #4C5874;
  }
  button {
    background-color: #eee1c793;
  }
}
